<p class="contact-us-title">“According to brain scans, the mere thought of helping others by planning to make a donation makes people happier.” — The Denver Post</p>

<div
  class="emails-and-map"
>
  <div
    class="emails-part"
  >


    <section>
      <p>
        If you want to take part of it - you are walcome to contact us :)
      </p>
      <p>
        <strong>Sagie Ivan</strong>
        <br />
        Sagie012@gmail.com
      </p>
      <p>
        <strong>Niv Hindi</strong>
        <br />
        Nivhindi1@gmail.com
      </p>
      <p>
        <strong>Tom Shushan</strong>
        <br />
        Tomshudev@gmail.com
      </p>
    </section>
  </div>

  <div #myMap class="map"></div>
</div>

