html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  font-size: 1.6rem;
  box-sizing: border-box;
}
