<div class="home-page">
    <p class="title">One person's trash is another person's treasure</p>
    <iframe class="home-video" src="https://www.youtube.com/embed/VyzQkL1jCAg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="introduction">Instead of discarding unwanted appliances, tools or clothes, try donating them. Not only will you be reducing waste, you'll be helping others. Local churches, community centers, thrift stores, schools and nonprofit organizations may accept a variety of donated items, including used books, working electronics and unneeded furniture.</p>
</div>